:root {
    --primaryColor: #000000;
    --contrastColor: #FFFFFF;
    --accentColor: #FF3939;
    position: relative;
}

.clog {
    padding: 1rem 3rem;
    cursor: pointer;
    margin: auto;
    max-width: 1200px;
    margin-top: 2rem;
}

.clog > svg {
    transition: all ease-out 0.25s;
}

.clog > svg:hover {
    transform: rotateZ(90deg);
}

.topDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.topDisplay > div {
    min-width: 500px;
}

.topDisplay > div:first-of-type {
    display: grid;
    place-items: center;
}

img { 
    width: 80%;
}