:root {
    --primaryColor: #000000;
    --contrastColor: #FFFFFF;
    --accentColor: #FF3939;
    position: relative;
}

.welcome-padding {
    position: absolute;
    width: 100%;
    
    background-color: var(--contrastColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.welcome{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.welcome > div {
    position: relative;
    flex: 1;   
    height: 80%;
    width: 80%;
    min-width: 400px;
    max-width: 1200px;
    padding: 3rem;
}

.welcome > div:first-of-type{
    display: grid;
    place-items: start end;
}

.welcome > div:last-of-type {
    display: grid;
    place-items: center right;
    padding-right: 7.5rem;
    text-align: right;
}

.welcome > div:last-of-type > div > h1 {
    font-size: 5rem;
    margin: 0px;
}

.welcome > div:last-of-type > div >  h3 {
    font-size: 1.5rem;
    margin-top: 0px;
}

.welcome > div:last-of-type > div >  p {
    font-size: 1.25rem;
}

.welcome > div:last-of-type > div > button {
    margin-top: 2rem;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    color: var(--contrastColor);
    background-color: var(--primaryColor);
    font-family: 'Langar', cursive;
    border-radius: 0.5rem;
    border: solid 4px var(--primaryColor);
    cursor: pointer;
    transition: all ease-out 0.25s;
}

.welcome > div:last-of-type > div > button:hover {
    background-color: var(--contrastColor);
    color: var(--primaryColor);
}


.aboutus {
    width: 100%;
    text-align: center;
}

.aboutus > div {
    width: 75%;
    margin: auto;
    text-align: left;
}

.aboutus > h1 {
    font-size: 3rem;
}

.aboutus > div > h2 {
    font-size: 2rem;
}

.aboutus > div > p {
    font-size: 1.5rem;
}


.welcome-manball {
    width: 120%;
}

.getstarted{
    display: grid;
    place-content: center;
    margin: 5rem 0rem;
    margin-top: 13rem;
}

.getstarted > img {
    margin: auto;
}

.getstarted > button {
    margin: 3rem;
    border-radius: 0.5rem;
    background-color: var(--primaryColor);
    color: var(--contrastColor);
    font-family: 'Langar', cursive;
    padding: 0.75rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all ease-out 0.25s;
}

.getstarted > button:hover {
    color: var(--primaryColor);
    background-color: var(--contrastColor);
}

.move-Out{
    transform: translateY(-100%);
}
